$logo_duration: 1s;
$animation-count: 1;

.logo__dragonfly {
  opacity: 0%;
  z-index: 1000;

  &--reveal {
    transition: transform opacity $logo_duration;
    animation: $logo_duration ease-out $logo_duration $animation-count normal forwards running reveal-dragonfly;
  }
}

.logo__backdrop {
  opacity: 0%;

  &--reveal {
    transition: transform opacity $logo_duration;
    transform-origin: center center;

    // @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name
    animation: $logo_duration ease-out 0s $animation-count normal forwards running reveal-logo;
  }
}

@keyframes reveal-logo {
  0% {
    opacity: 0%;
    transform: scale(50);
  }

  100% {
    transform: scale(1);
    opacity: 100%;
  }
}

@keyframes reveal-dragonfly {
  0% {
    opacity: 0%;
    transform: translateY(-10px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}