html {
	background: $color-background;
}
.markdown {
	max-width: 50rem;
}

.align-center {
	text-align: center;
}

.o-centered {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.container {
	max-width: 800px
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1rem 0;
	padding: 0
}

img {
	margin: 10px auto 10px auto;
	max-width: 100%;
	display: block;
}

a img {
	border: none;
}

figure {
	margin: 0;
	text-align: center;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0
}

th {
	color: lightblue;
	padding: .3em .5em;
	border: 1px solid rgb(218, 238, 255);
}

td {
	padding: .8em .5em;
	border: 1px solid rgb(218, 238, 255);
	vertical-align: top;
}

textarea {
	resize: vertical
}

blockquote {
	margin-left: 1rem;
	border-left: 3px solid;
	border-color: rgb(62, 89, 243);
	;
	padding-left: 20px
}

blockquote cite {
	font-size: 70%;
	opacity: .8
}

blockquote em {
	font-weight: 600;
}

a:hover {
	text-decoration: underline
}


ul {
	padding-left: 15px;
}

ul.flat {
	margin: 0;
	padding: 0;
}

ul.flat li {
	display: inline-block;
	list-style: none;
	margin-left: 0;
}

.prevent-collapse {
	min-height: .1rem;
}

.page-title {
	margin: 0;
}

.smaller {
	font-size: 70%;
}

.highlight pre {
	margin-bottom: 0;
	margin-top: 0;
	padding: 20px;
	background-color: rgb(252, 252, 252) !important;
}

.highlight {
	background: 0 0
}

.wrapper {
	max-width: 760px;
	margin: 0 auto;
}

.container {
	margin-top: 50px;
}

.header {
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.header h1,
.header h2 {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	line-height: 1.3em;
}

.header h2 {
	font-size: 1.125rem;
}

.header nav {
	margin-top: 20px;
	border-top: 1px solid #f4f4f4;
}

.header nav ul,
.header nav li {
	margin: 0;
}

.header nav ul.flat {
	padding: 0;
}

.header nav ul.flat li {
	display: inline-block;
	list-style: none;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 10px;
	text-transform: capitalize;
}

.header .site-description {
	display: flex;
	justify-content: space-between;
}

.header .site-description nav {
	margin: 0;
	padding: 0;
	border: none;
}

.header .site-description nav ul svg {
	max-height: 15px;
}

.section .section-header {
	font-size: 0.9rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.recent-posts .posts .post {
	margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
	font-size: 0.8rem;
	color: #999;
	margin-bottom: 4px;
}

.post .post-header {
	margin-bottom: 30px;
}

.post .post-header .title {
	margin: 0;
}

.post .post-header .meta {
	padding-left: 5px;
	margin-top: .5px;
}

.list .posts .post .meta {
	margin-bottom: 0;
	margin-left: 5px;
}

.footer {
	text-align: right;
	font-size: 0.75em;
	color: #999;
	border-top: 1px solid #f4f4f4;
	padding: 20px 0;
	margin-top: 40px;
}

.page-title {
	margin-bottom: 0;
}

.tag-cloud {
	margin-top: 20px;
}

.tag-cloud a {
	margin-right: 1rem;
}

.pagination {
	margin: 0;
	padding: 0;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.pagination li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.pagination .page-prev {
	margin-right: 20px;
	padding-right: 20px;
}

.pagination .page-item.page-prev {
	text-align: left;
}

.pagination .page-item.page-next {
	text-align: right;
}