html {
	font-size: $base-font-size;
	letter-spacing: $base-font-spacing;
}

html,
button,
input,
select,
textarea {
	color: $color-base-text;
}

body {
	font-family: $font-family;
	font-weight: 300;
	font-style: normal;
	color: $color-base-text;
	line-height: $line-height-text;
	font-size: $font-size-text-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-headings;
	line-height: $line-height-heading;
	color: $color-primary;
}

body {
	padding: 20px;
}

h1 {
	font-size: 2rem
}

h2 {
	font-size: 1.4rem
}

h3 {
	font-size: 1.2rem
}

h4 {
	font-size: 1rem
}

.container {
	margin-top: 10px;
}

@media (min-width: 767px) {
h1 {
	font-size: $font-size-heading-large;
}

h2 {
	font-size: $font-size-heading-medium;
}

h3 {
	font-size: $font-size-heading-small;
}

h4 {
	font-size: $font-size-heading-x-small;
}

h5 {
	font-weight: 300;
	font-size: $font-size-heading-x-small;
}

h6 {
	font-weight: 300;
	font-size: $font-size-heading-xx-small;
}
}



th {
	font-size: $font-size-heading-small;
	font-weight: 400;
}

blockquote {
	font-style: italic;
	font-size: $font-size-text-x-large;
}

::-moz-selection {
	background: $color-accent;
	text-shadow: none
}

::selection {
	background: $color-accent;
	text-shadow: none
}

.title {
	font-family: $font-family-headings;
	font-size: $font-size-text-x-large;
	font-weight: $font-weight-bold;
	letter-spacing: .01em;
}

nav a {
	font-family: $font-family-headings;
	font-weight: 400;
	font-size: 1.0em;
}

a {
	color: $color-links;
	text-decoration: none;
}

a:hover {
	color: $color-links-hover;
}

.post .post-header .title {
	font-size: 1.8em;
}

pre {
	color: $color-secondary;
	font-family: $font-family-monospace;
	font-size: $font-size-text-medium;
	font-weight: 400;
	line-height: $line-height-text;
}

code {
	font-family: $font-family-monospace;
	font-size: $font-size-text-medium;
	line-height: $line-height-text;
}

.c-funky-text__container {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.c-funky-text {
	background: $color-accent;
	border-radius: 20px;
	display: inline-block;
	font-family: freude, sans-serif;
	font-size: 1.5em;
	font-style: normal;
	font-weight: 400;
	padding: 20px;
}